[Desktop Entry]
Name=LogSquirl
GenericName=Log file viewer
Exec=logsquirl %F
Icon=logsquirl
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=logsquirl --load-session %F
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=logsquirl --multi %F
Name=Open In A New LogSquirl Window
